@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0;
    margin: 0;
}


body {	
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;    
	background: #fff;
	color: #333333;	
}

a,a:hover {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

::selection {
    color: white; 
    background: #ff7675;
}

::-webkit-selection {
    color: white; 
    background: #ff7675;
}

::-moz-selection {
    color: white; 
    background: #ff7675;
}

.container {
    max-width: 1240px;
    display: block;
    margin: auto;
    padding: 0 15px;
}
.headertop-area {
  background-color: #004896;
  padding: 2px 0;  
}

.headertop-part p {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headertop-part p img {
    width: 34px;
    height: 34px;
    display: block;
    margin-right: 5px;
}

.header-area {
  background-color: #fff;
  padding: 2px 0;  
}


.header-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo img {
    max-width: 100%;
    display: block;
}

.header-btns ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: right;
}

.header-btns ul li {
    display: inline-block;
    padding-right: 5px;
}

.header-btns ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    background-color: #004896;
    width: 162px;
    height: 48px;
    display: block;
    border-radius: 7px;
    line-height: 48px;
    text-align: center;
    transition: 0.3s all ease;   
}

.header-btns ul li:nth-child(2) a {
    background-color: #CB0032;
    transition: 0.3s all ease;    
}


.header-btns ul li:nth-child(2) a:hover {
    background-color: #004896;
    color: #fff;
}

.header-btns ul li a:hover {
    background: #000;
    color: #fff;
}


.menu-part {
   display: none;
}


.menu-part img {
    filter: brightness(0) saturate(100%) invert(22%) sepia(72%) saturate(2169%) hue-rotate(192deg) brightness(98%) contrast(99%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}


.Close-icon {
   display: none; 
}


.hero-area {
  background-image: url('../img/herobg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 204px 0;
}

.hero-part {
    width: 837px;
}

.hero-part h1 {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: bold;
    line-height: 74px;
    margin: 0;
    padding-bottom: 20px;
}

.hero-part p {
    color: #FFFFFF;
    font-size: 18px;
    margin: 0;
    font-weight: 500;
    line-height: 26px;    
}

.hero-part a {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    background-color: #CB0032;
    width: 272px;
    height: 48px;
    display: block;
    line-height: 48px;
    text-align: center;
    border-radius: 7px;
    border: 2px solid #fff;
    transition: 0.3s all ease;
    margin-top: 30px;
}

.hero-part a:hover {
    background-color: #fff;
    color: #000;
}


.footer-area {
  background-image: url('../img/footerbg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
  padding-bottom: 10px;
}

.footer-logo img {
    max-width: 100%;
    display: block;
    margin: auto;
}


.footer-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    padding-top: 45px;
}

.footer-nav ul li {
    display: inline-block;
    margin: 0 3px;
}

.footer-nav ul li span {
    color: #fff;
    font-size: 16px;
}

.footer-nav ul li a {
    color: #fff;
    font-size: 16px;
    display: block;
    transition: 0.2s all ease;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
}

.footerlogos ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-align: center;
    padding-top: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerlogos ul li {
    display: inline-block;
    margin: 0 28px;
}

.footerlogos ul li:first-child {
    margin-left: 0px;
}


.footerlogos ul li:last-child {
    margin-right: 0px;
}


.footerlogos ul li a img {
    max-width: 100%;
    display: block;
    margin: auto;
}


.footer-copyright {
    padding-top: 90px;
}

.footer-copyright p {
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
}


.rpbgambling-area {
  background-color: #fff;
  padding: 60px 0;
  padding-bottom: 45px; 
}


.rpbgambling-part h2 {
    color: #212529;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding-bottom: 30px;
}


.rpbgambling-part p {
    color: #212529;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
    margin: 0;
    line-height: 30px;
    padding-bottom: 31px;   
}

.rpbgambling-part h6 {
    color: #CB0032;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
}


.previousatpb-area {
  background-image: url('../img/result-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}


.previousatpb-heading h2 {
    color: #fff;
    font-size: 55px;
    text-align: center;
    font-weight: bold;
    line-height: 63px;
    padding-bottom: 45px; 
}


.previousatpb-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 27px;
    justify-content: space-around;
    grid-row-gap: 27px;
}

.previousatpb-box {
    border: 1px solid #7f92a5;
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
}

.previousatpb-item1 {
    background-color: #CB0032;
    padding: 12px 0;
}

.previousatpb-item1 h3 {
    color: #fff;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    line-height: 35px;  
}

.innerpvatpb-item {
  padding: 30px 20px;
}


.previousatpb-item2 {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.previousatpbitem2-left {
   width: 30%;
}

.previousatpbitem2-right {
    width: 70%;
}

.previousatpbitem2-left img { 
    display: block;
    max-width: 100%;
}

.previousatpbitem2-right p {
    color: #004896;
    font-size: 25px;
    line-height: 32px;
    margin: 0;
    font-weight: 600;   
}



.previousatpb-item3 ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 9px;
    justify-content: space-around;
    grid-row-gap: 8px;
}

.previousatpb-item3 ul li {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    width: 42.78px;
    height: 42.78px;
    background-color: #004896;
    border-radius: 50%;
    line-height: 42.78px;
    text-align: center;
    box-shadow: 0px 4px 10px 0px #FFFFFF8F inset;
}

.previousatpb-item3 ul li.active {
    background-color: #CB0032;
}

.previousatpb-item4 {
    padding-top: 20px;
}

.previousatpb-item4 h3 {
    color: #CB0032;
    font-size: 23px;
    text-align: center;
    margin: 0;
    font-weight: 600;
}


.premierlottery-area {
  background-color: #fff;
  padding: 90px 0;
}


.premierlottery-part {
    display: flex;
    align-items: center;
    gap: 35px;
}

.premierlottery-left {
    width: 50%;
}

.premierlottery-right {
    width: 50%;
}

.premierlottery-left img {
    display: block;
    margin-left: -222px;
}

.premierlottery-items {
    width: 602px;
}

.premierlottery-item1 h2 {
    color: #004896;
    font-size: 42px;
    margin: 0;
    font-weight: bold;
    line-height: 52px;
    padding-bottom: 20px;
}

.premierlottery-item1 p {
    color: #000000;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
}

.premierlottery-item2 {
    padding: 25px 0;
    padding-bottom: 20px;
}


.premierlottery-item2 ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-left: 10px;
}


.premierlottery-item2 ul li {
    display: block;
    padding-bottom: 10px;
}

.premierlottery-item2 ul li:last-child {
    padding-bottom: 0px;
}

.premierlottery-item2 ul li span {
    width: 5px;
    height: 5px;
    background-color: #000;
    display: block;
    border-radius: 50%;
    position: relative;
    top: 2px;
}

.premierlottery-item2 ul li p {
    color: #000000;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    padding-left: 23px;
    margin-top: -15px;   
}


.premierlottery-item3 p {
    color: #000000;
    font-size: 18px;
    margin: 0;
    line-height: 28px;
    display: flex;
    align-items: center;
}

.premierlottery-item3 p span {
    width: 22px;
    height: 22px;
    display: block;
    margin-right: 4px;
}

.premierlottery-item3 p img {
    max-width: 100%;
    display: block;
}



.slider-area {
  background-image: url('../img/review-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
  padding-bottom: 120px;
}

.slider-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 45px;
}

.sliderhd-text h2 {
    color: #fff;
    font-size: 40px;
    margin: 0;
    font-weight: bold;
}


.sliderhd-btn a {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    background-color: #CB0032;
    width: 307px;
    height: 48px;
    display: block;
    line-height: 48px;
    text-align: center;
    border-radius: 7px;
    border: 2px solid #fff;
    transition: 0.3s all ease;
}

.sliderhd-btn a:hover {
    background-color: #fff;
    color: #000;
}




.slider1-box {
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    width: 100%;
    padding: 35px 20px;
    box-sizing: border-box;
    background-color: #ffffff30;
}

.slider1-box h3 {
    color: #fff;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    padding-bottom: 14px;    
}

.slider1-box p {
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 28px;
    margin: 0;
    padding-bottom: 10px;   
}

.slider1-box img {
    max-width: 100%;
    display: block;
    margin: auto;
    margin-top: 15px;    
}

.slider-area .owl-dots {
    text-align: center;
    padding-top: 55px;
    display: flex;
    justify-content: center;
}

.slider-area .owl-carousel button.owl-dot {
    background: #d9d9d9!important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    width: 8px!important;
    height: 8px!important;
    border-radius: 50%!important;
    margin: 0 3px!important;
}

.slider-area .owl-carousel button.owl-dot.active {
    background-color: #004896!important;
    width: 11px!important;
    height: 11px!important;
}
.faq-area {
  background-color: #f2f6fa;
  padding: 90px 0;
}

.faq-heading {
    padding-bottom: 60px;
}

.faq-heading h2 {
    color: #004896;
    font-size: 55px;
    text-align: center;
    font-weight: bold;
    margin: 0;
    line-height: 63px;
}


.ziehharmonika h3 {
    background: #fff;
    color: #212529;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    padding: 18px 25px;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 22px;
    padding-right: 140px;
    transition: 0.25s all;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 15px 50px 0px #04519026; 
}


.ziehharmonika h3.active {
    margin-bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: none;
}



.ziehharmonika h3.alignLeft {
    padding-left: 35px;
}

.ziehharmonika > div {
    display: none;
    font-size: 16px;
    line-height: 28px;
    background: #fff;
    border-radius: 0px 0px 10px 10px;
    text-align: left;
    padding: 18px 25px;
    margin-bottom: 20px;
    padding-top: 0;
    font-weight: 400;
    box-shadow: 0px 15px 50px 0px #04519026;
    padding-right: 160px;
}

.ziehharmonika .arrowDown {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13.0px 7.5px 0 7.5px;
    border-color: #272e35 transparent transparent transparent;
    position: absolute;
    bottom: 0;
    left: 40px;
    transition: 0.25s all;
    opacity: 0;
}




.ziehharmonika .collapseIcon {
    position: absolute;
    right: 20px;
    top: 45%;
    font-size: 25px;
    font-weight: 300;
    -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
}
.ziehharmonika .collapseIcon.alignLeft {
    right: initial;
    left: 20px;
}


.ziehharmonika .collapseIcon img {
    max-width: 100%;
}



.popup-area {
   padding: 0px;
}


.popuppart {
   width: 1200px;
   display: flex;
   margin: auto;
   height: 600px;
}

.popupleft {
   width: 55%;
   height: 100%;
   position: relative;
}

.popupleft-item1 {
    width: 100%;
    height: 100%;   
}

.popupleft-item1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popupright {
    width: 45%;
    height: 100%;
    background-color: #fff;
    display: grid;
    align-items: center;
    padding: 30px 45px;
    box-sizing: border-box;
    border-radius: 25px 0px 0px 25px;
    margin-left: -18px;
    position: relative;
    z-index: 9;
}



.popupform-heading {
    padding-bottom: 20px;
}

.popupform-heading h3 {
    color: #004896;
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

.popupform-heading p {
    color: #0C0C0C;
    font-size: 14px;
    margin: 0;   
}


.popupform-item1 {
    display: flex;
    gap: 25px;
}

.popupformitems p {
    color: #0C0C0C;
    font-size: 14px;
    margin: 0;
    line-height: 18px;
    padding-bottom: 3px;
}

.popupformitems input {
    color: #000;
    font-size: 14px;
    width: 100%;
    font-weight: 400;
    padding: 12px 14px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1.5px solid #b3c8e0;
    outline: none;
    margin-bottom: 10px;
}

.popupformitems input:focus {
    border: 1.5px solid #004896;    
}

.popupformitems input::placeholder {
    color: #000;
    font-size: 14px;
    font-weight: 400;   
}

.maincheckbox {
    padding-bottom: 20px;
}


.checkboxpart {
    display: block;
    position: relative;
    padding-left: 31px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #0C0C0C;
    font-size: 14px;
    line-height: 30px;
    font-weight: 300;
}

.checkboxpart input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
    position: absolute;
    top: 5px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #ffffff00;
    border: 1px solid #272727;
    border-radius: 0px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxpart input:checked ~ .checkmark:after {
  display: block;
}

.checkboxpart .checkmark:after {
    left: 7px;
    top: 1px;
    width: 4px;
    height: 10px;
    border: solid #0C0C0C;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}
.password-container input {
   padding-right: 40px;
   width: 100%;
}
.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    width: 24px;
    height: 24px;
    top: 11px;
}
.toggle-password img {
    filter: brightness(0) saturate(100%) invert(14%) sepia(97%) saturate(3205%) hue-rotate(201deg) brightness(90%) contrast(101%);
    width: 17px;
    height: 17px;
}


.popupformitems h6 {
    color: #004896;
    font-size: 11px;
    margin: 0;
    font-weight: 400;
    line-height: 22px;
    margin-top: -12px;
    margin-bottom: 10px;    
}


.popupformitems input[type="submit"] {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    width: 100%;
    padding: 14px 14px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 0px;
    background-color: #004896;
    transition: 0.2s all ease;
    cursor: pointer;
}

.popupformitems input[type="submit"]:hover {
    background-color: #000;
}

.popupform-item3 h5 {
    color: #313131;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    margin: 0;
    padding-top: 18px;   
}

.popupform-item3 h5 a {
    color: #004896;
    font-weight: bold;
    text-decoration: underline;
}

.ppform-item1-left {
    width: 50%;
}

.ppform-item1-right {
    width: 50%;
}



.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999999;
}

.popup.active { display: block; }

.close-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 0px;
    right: 15px;
    cursor: pointer;
    z-index: 99;
    background-color: transparent;
}

.close-btn img {
   width: 20px;
   height: 20px;
}

/* Overlay Styles */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.863); /* Semi-transparent black */
    z-index: 999; /* Positioned below the popup */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1; /* Fade in when active */
}

.popup.active {
    display: block;
    opacity: 1;
}

.popuplogo-part {
    padding: 15px 25px;
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}

.popuplogo-part img {
    height: 51px;
}


.mainrbmeftpd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}

.mainrbmeftpd .maincheckbox {
    padding-bottom: 0px;
}

.rbmeftpd-right p {
   margin: 0;
}

.rbmeftpd-right p a {
    color: #004896;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 400;  
}

.loginpart {
    padding-bottom: 40px;
}


.mbnewhero-area {
  background-image: url('../img/hero-bg-sm.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0px 0;
}



.newhero-area {
  background-image: url('../img/subpage-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}


.newhero-part h2 {
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
}

.newhero-part p {
    color: #fff;
    font-size: 15px;
    text-align: center;
    margin: 0;    
}

.newhero-part p a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

.newtexts-area {
    background-color: #fff;
    padding: 70px 0;
    padding-bottom: 0px;
}

.newtextitem1 {
    padding-bottom: 30px;
}

.newtextitem1 h2 {
    color: #313131;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
}

.newtextitem1 p {
    color: #212529;
    font-size: 19px;
    line-height: 33px;
    margin: 0;
}



.newtextitem2 {
    padding-bottom: 30px;
}

.newtextitem2 h2 {
    color: #313131;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 10px;
}

.newtextitem2 h3 {
    color: #004896;
    font-size: 22px;
    margin: 0;
    line-height: 36px;
    font-weight: bold;
}

.newtextitem2 ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-left: 11px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.newtextitem2 ul li {
   display: block;
   padding-bottom: 12px;
}

.newtextitem2 ul li:last-child {
   padding-bottom: 0px;    
}

.newtextitem2 ul li span {
    width: 5px;
    height: 5px;
    background-color: #212529;
    display: block;
    border-radius: 40px;   
}

.newtextitem2 ul li p {
    color: #212529;
    font-size: 19px;
    line-height: 36px;
    margin: 0;
    padding-left: 14px;
    margin-top: -20px;
}


.Cookieslist {
    padding-top: 0 !important;
    margin-left: 20px !important;    
}